# Category-Wise Popularity Based Recommender System

___

In [89]:
import numpy as np
import pandas as pd
from pandas import DataFrame as df

## Load Training and Test Set

In [41]:
ads_data = pd.read_csv('./Dataset/ads_data.csv')
userdata = pd.read_csv('./Dataset/user_data.csv')
user_messages = pd.read_csv('./Dataset/user_messages.csv')

In [42]:
test = pd.read_csv('./Dataset/user_messages_test.csv')

### 1.1 Exploring Ads Data

In [43]:
ads_data.sort_values('category_id',inplace = True)
#ads_data.head(10)

In [44]:
ads_data.drop('description',inplace = True, axis=1)
ads_data.drop('lat',inplace = True,axis =1)
ads_data.drop('long',inplace = True, axis = 1)

In [45]:
ads_data.head()

,ad_id,category_id,seller_id,creation_time,title,price,source,enabled
401718,2275225,362,522712,2017-04-05 00:38:25,Casco HTL nuevo,800.0,android,1
619697,863742,362,353414,2016-10-06 16:10:23,Volkswagen gol trend,135000.0,android,1
23115,411940,362,237803,2016-08-04 12:55:05,Siena 2010 Gnc,100000.0,android,0
92976,1436629,362,466535,2016-12-15 22:42:56,Palio Fire,100000.0,android,0
23111,407672,362,236959,2016-08-03 21:10:05,Repuesto Monoshock fz 16,400.0,android,0

In [46]:
print "Number of Ads:", len(ads_data)

Number of Ads: 645168

In [47]:
print "Number of Unique Ad_ID:", len(ads_data['ad_id'].unique())

Number of Unique Ad_ID: 645168

In [48]:
print "Number of Unique Category_ID:", len(ads_data['category_id'].unique())

Number of Unique Category_ID: 10

In [49]:
print "Number of Seller_ID:", len(ads_data['seller_id'].unique())

Number of Seller_ID: 108112

In [50]:
ads_data['price'].describe()

count    6.451660e+05
mean     5.291704e+03
std      9.827501e+05
min      0.000000e+00
25%      1.500000e+02
50%      3.400000e+02
75%      8.500000e+02
max      7.777778e+08
Name: price, dtype: float64

In [51]:
ads_data['source'].unique()  # NAN available

array(['android', 'web', 'apple', nan, 'i2', 'none'], dtype=object)

### Distribution of Each Category ID

In [52]:
category = ads_data['category_id'].unique()

In [53]:
cat_len = [len(ads_data[ads_data['category_id'] == i]) for i in category]

In [54]:
for i in range(len(category)):
    print "Category : ", category[i] ,"Number : " ,cat_len[i]

Category :  362 Number :  25804
Category :  800 Number :  72561
Category :  806 Number :  79110
Category :  811 Number :  11408
Category :  815 Number :  267871
Category :  853 Number :  70571
Category :  859 Number :  13754
Category :  881 Number :  19640
Category :  887 Number :  19813
Category :  888 Number :  64636

## 1.2 Exploring User Data

In [55]:
userdata.sort_values('user_id',inplace = True)
#userdata.head(10)

In [56]:
userdata.columns

Index([u'event_time', u'user_id', u'event', u'channel', u'user_lat',
       u'user_long', u'origin', u'ad_id', u'images_count', u'ad_impressions',
       u'ad_views', u'ad_messages'],
      dtype='object')

In [57]:
userdata.drop(u'user_lat',inplace = True,axis = 1)
userdata.drop(u'user_long', inplace = True, axis = 1)

In [162]:
userdata.head(10)

,event_time,user_id,event,channel,origin,ad_id,images_count,ad_impressions,ad_views,ad_messages
544306,2017-06-08 15:10:05,1,view,android,notification_center,2116768,3.0,1317.0,19.0,0.0
709950,2017-06-11 16:39:48,1,view,android,search,2784220,3.0,264.0,62.0,2.0
596723,2017-06-11 16:40:16,1,view,android,search,1232646,4.0,1090.0,224.0,7.0
90092,2017-06-11 16:43:24,1,view,android,search,337350,4.0,42.0,24.0,0.0
642116,2017-06-11 16:39:24,1,view,android,search,2325381,3.0,795.0,177.0,0.0
1064533,2017-06-09 16:29:41,1,view,android,home,2817385,4.0,1363.0,21.0,0.0
329740,2017-06-11 16:40:53,1,view,android,search,2510107,7.0,120.0,95.0,1.0
564486,2017-06-10 16:49:25,1,view,android,notification_center,2818118,2.0,310.0,1.0,0.0
600709,2017-06-11 16:38:54,1,view,android,search,2815681,4.0,1755.0,77.0,2.0
517409,2017-06-11 16:44:50,1,view,android,search,1564512,1.0,76.0,83.0,6.0
563832,2017-06-09 16:37:01,1,view,android,home,2075447,8.0,0.0,23.0,1.0
382869,2017-06-11 16:45:22,1,view,android,search,2548142,3.0,74.0,46.0,3.0
682261,2017-06-09 16:36:30,1,view,android,notification_center,1112655,2.0,72.0,29.0,1.0
767970,2017-06-12 01:03:56,1,view,android,push,2817437,2.0,1961.0,21.0,1.0
399354,2017-06-11 16:42:22,1,view,android,search,2700119,8.0,90.0,77.0,2.0
767528,2017-06-11 16:42:54,1,view,android,search,2705113,3.0,120.0,374.0,24.0
315261,2017-06-11 16:43:54,1,view,android,search,2187872,8.0,101.0,125.0,1.0
712499,2017-06-11 16:41:11,1,view,android,search,1227188,4.0,241.0,354.0,12.0
709676,2017-06-11 16:44:24,1,view,android,search,2651700,4.0,129.0,210.0,15.0
131063,2017-06-11 16:46:54,1,view,android,search,2327307,1.0,71.0,10.0,2.0
616318,2017-06-09 16:24:03,1,view,android,search,2434312,2.0,32375.0,377.0,8.0
268392,2017-06-14 21:14:45,1,view,android,home,1970857,4.0,129.0,25.0,2.0
585192,2017-06-11 16:46:24,1,view,android,search,1379235,4.0,84.0,147.0,9.0
955333,2017-06-09 16:36:01,1,view,android,home,2817385,4.0,1363.0,21.0,0.0
914648,2017-06-11 16:40:03,1,view,android,search,2717635,6.0,511.0,260.0,11.0
959857,2017-06-11 16:41:24,1,view,android,search,1272760,3.0,274.0,221.0,3.0
709451,2017-06-14 21:14:41,1,view,android,home,1970857,4.0,129.0,25.0,2.0
35695,2017-06-02 18:19:31,4,view,android,home,2228884,7.0,0.0,27.0,2.0
768138,2017-06-02 21:15:07,4,view,android,push,2757658,3.0,0.0,45.0,1.0
495530,2017-06-02 18:12:40,4,view,android,home,621748,2.0,0.0,6.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1029501,2017-05-24 03:20:33,4,view,android,home,2685929,4.0,0.0,18.0,0.0
382921,2017-06-08 19:35:19,4,view,android,home,2722672,4.0,881.0,73.0,1.0
957069,2017-06-02 17:57:58,4,view,android,push,2672421,3.0,0.0,54.0,3.0
734451,2017-06-02 22:31:15,4,view,android,push,2762225,4.0,0.0,35.0,1.0
204642,2017-06-12 00:07:36,4,view,android,browse,2392168,2.0,907.0,51.0,1.0
711966,2017-06-06 02:02:56,4,view,android,browse,2788791,2.0,744.0,22.0,0.0
523382,2017-06-02 20:51:39,4,view,android,push,581651,4.0,0.0,12.0,1.0
382935,2017-06-04 17:43:04,4,view,android,home,2775066,3.0,0.0,29.0,1.0
313719,2017-05-24 00:59:46,4,view,android,home,2684587,2.0,0.0,28.0,0.0
421734,2017-06-11 23:53:28,4,view,android,browse_search,2064074,5.0,19.0,15.0,2.0
268487,2017-06-10 14:40:43,4,view,android,notification_center,2765043,6.0,206.0,130.0,1.0
186952,2017-05-29 01:34:35,4,view,android,notification_center,424609,3.0,0.0,34.0,0.0
486036,2017-06-11 23:59:46,4,view,android,browse_search,2828800,4.0,68.0,4.0,0.0
733491,2017-05-28 04:24:44,4,view,android,notification_center,2716888,1.0,0.0,40.0,1.0
623111,2017-05-25 01:56:55,4,view,android,home,2680092,3.0,0.0,89.0,5.0
518875,2017-06-11 03:08:23,4,view,android,home,2797067,3.0,59210.0,1246.0,20.0
1065820,2017-06-03 17:43:52,4,view,android,home,2768794,1.0,0.0,42.0,0.0
219584,2017-05-29 18:00:57,4,view,android,home,2730644,4.0,0.0,4.0,0.0
2535,2017-05-27 03:55:05,4,view,android,home,2708058,4.0,0.0,56.0,0.0
690322,2017-06-11 03:12:17,4,view,android,notification_center,1582542,2.0,6.0,4.0,0.0
314416,2017-06-11 23:56:56,4,view,android,browse_search,2817375,1.0,1081.0,9.0,0.0
546097,2017-06-12 00:10:36,4,view,android,browse,2825119,6.0,25584.0,2028.0,40.0
956887,2017-06-03 03:20:42,4,view,android,home,2765470,2.0,0.0,12.0,0.0
525095,2017-05-24 19:58:20,4,view,android,home,2690057,1.0,0.0,26.0,0.0
624408,2017-06-04 02:31:17,4,view,android,push,2676446,3.0,0.0,45.0,1.0
382684,2017-06-08 19:34:45,4,view,android,home,2810025,6.0,966.0,37.0,0.0
400744,2017-06-03 03:21:12,4,view,android,home,2704742,1.0,0.0,59.0,1.0
644442,2017-06-02 00:24:23,4,view,android,notification_center,1405722,2.0,0.0,31.0,1.0
524888,2017-06-11 03:05:24,4,view,android,home,2823918,1.0,780.0,28.0,0.0
565461,2017-06-02 18:09:45,4,view,android,home,2632900,1.0,0.0,82.0,4.0

In [163]:
userdata.shape

(2143889, 10)

In [59]:
print "Number of User Data Transactions:", len(userdata)

Number of User Data Transactions: 2143889

In [60]:
print "Number of Unique Users:", len(userdata['user_id'].unique())

Number of Unique Users: 12365

In [61]:
userdata['event'].unique()

array(['view', 'first_message'], dtype=object)

In [62]:
userdata['channel'].unique()

array(['android', 'desktop', 'ios'], dtype=object)

In [63]:
userdata['origin'].unique() ## NAN Present

array(['notification_center', 'search', 'home', 'push', 'browse',
       'browse_search', 'drawer', nan, 'deeplink'], dtype=object)

In [64]:
print "Number of Unique Ad_ID: ", len(userdata['ad_id'].unique())

Number of Unique Ad_ID:  535651

In [65]:
userdata['images_count'].describe()

count    2.077478e+06
mean     2.955274e+00
std      1.798261e+00
min      0.000000e+00
25%      2.000000e+00
50%      3.000000e+00
75%      4.000000e+00
max      1.500000e+01
Name: images_count, dtype: float64

In [66]:
userdata['ad_impressions'].describe()

count    2.095669e+06
mean     1.745520e+03
std      2.097932e+04
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      2.130000e+02
max      6.940120e+05
Name: ad_impressions, dtype: float64

In [67]:
userdata['ad_views'].describe()

count    2.095669e+06
mean     6.360186e+01
std      2.624783e+02
min      0.000000e+00
25%      1.100000e+01
50%      2.600000e+01
75%      5.500000e+01
max      7.725000e+03
Name: ad_views, dtype: float64

In [68]:
userdata['ad_messages'].describe()

count    2.095669e+06
mean     1.940905e+00
std      6.053958e+00
min      0.000000e+00
25%      0.000000e+00
50%      1.000000e+00
75%      2.000000e+00
max      1.890000e+02
Name: ad_messages, dtype: float64

## 1.3 Exploring User Messages

In [69]:
user_messages.head(10)

   user_id  category_id    ad_id
0        1          859  1806476
1        3          800  2131700
2        3          800  2734107
3        3          800  2877209
4        3          800  2877209
5        4          815  2883211
6        7          815  2429412
7        7          815  2886810
8        7          815  2886804
9        7          362  2909301

In [70]:
print "Number of Users:", len(user_messages['user_id'].unique())

Number of Users: 7161

In [71]:
print " Number of Categories:", len(user_messages['category_id'].unique())

 Number of Categories: 10

In [72]:
user_messages['user_id'].unique()

array([    1,     3,     4, ..., 15056, 15061, 15066])

In [73]:
user_messages.shape

(21153, 3)

In [74]:
type(user_messages['user_id'][0])

numpy.int64

In [77]:
user_messages.sort_values('category_id',inplace=True)
user_messages.head(5)

       user_id  category_id    ad_id
12167     7597          362  1730320
19091    11938          362  2388804
11279     6452          362  1238103
11280     6452          362  2187575
11281     6452          362  2863136

## 1.4 Exploring Sample Prediction File

In [75]:
test.head()

   user_id  category_id
0        2          800
1        6          815
2       14          811
3       14          800
4       17          815

In [76]:
print "No. of Test Users:",len(test['user_id'])
print "No. of Unique Categories:", len(test['category_id'].unique())

No. of Test Users: 10507
No. of Unique Categories: 10

## 2.0 Naive Submission

Popular Recommendation

In [78]:
category

array([362, 800, 806, 811, 815, 853, 859, 881, 887, 888])

In [108]:
def result_entry(x):
    val = '['+str(x[0])+', '+str(x[1])+', '+str(x[2])+', '+str(x[3])+', '+\
              str(x[4])+', '+str(x[5])+', '+str(x[6])+', '+str(x[7])+', '+\
              str(x[7])+', '+str(x[8])+', '+str(x[9])+']'
    return val

In [109]:
pred = list()
for i in xrange(10): 
    df1 = user_messages[user_messages['category_id']== category[i]]
    ads_all = list(df1['ad_id'])
    ads_uni = df1['ad_id'].unique()

    add_freq = list()

    for i in xrange(len(ads_uni)):
        c = ads_all.count(ads_uni[i])
        add_freq.append(c)
    
    d = {'Frequency': add_freq,'ad_id': ads_uni}
    d1 = df(data = d)

    d1.sort_values('Frequency',ascending = False,inplace = True)

    d1 = d1.head(10)

    ads_pred = list(d1['ad_id'])
    ads_entry = result_entry(ads_pred)
    
    pred.append(ads_entry)

In [110]:
pred

['[2406697, 2853312, 2598159, 2437215, 2137557, 2839263, 2705180, 2574889, 2574889, 2873173, 2900594]',
 '[2891500, 2898379, 2911000, 2898476, 2031170, 2869844, 2877849, 2874589, 2874589, 2887420, 2732959]',
 '[1720784, 2886467, 2895717, 2835598, 2896045, 2825149, 2208312, 2742600, 2742600, 2870851, 2917387]',
 '[2624021, 2753896, 2881080, 2899362, 2869986, 2370688, 2899968, 2586092, 2586092, 2861011, 2887602]',
 '[2882036, 2827310, 2888041, 2892684, 2831841, 2897623, 2885081, 2880011, 2880011, 2920781, 2887862]',
 '[2871638, 2893130, 1998679, 2874121, 2535492, 2892871, 2438365, 724136, 724136, 2841165, 272573]',
 '[2567368, 2880807, 2270156, 2721400, 1149112, 2799525, 2848893, 2303094, 2303094, 2883995, 1998464]',
 '[2658874, 2519991, 2880278, 2648807, 2662331, 2794828, 2889904, 395414, 395414, 2119965, 1700433]',
 '[2870873, 2677927, 2906282, 2851216, 2512096, 854802, 2873966, 2887773, 2887773, 2041846, 2238881]',
 '[2882472, 2873541, 2246591, 2880088, 2895915, 2839650, 2895649, 2117718, 2117718, 2909131, 1725410]']

In [113]:
category = list(category)
pred_test = list()
for i in xrange(len(test)):
    ind = category.index(test['category_id'][i])
    pred_test.append(pred[ind])

In [115]:
len(pred_test)

10507

In [116]:
len(test)

10507

In [153]:
sol = df({'user_id': list(test['user_id']), 'category_id': list(test['category_id']),'ads':(pred_test)})  
sol.head(5)

                                                  ads  category_id  user_id
0   [2891500, 2898379, 2911000, 2898476, 2031170, ...          800        2
1   [2882036, 2827310, 2888041, 2892684, 2831841, ...          815        6
2   [2624021, 2753896, 2881080, 2899362, 2869986, ...          811       14
3   [2891500, 2898379, 2911000, 2898476, 2031170, ...          800       14
4   [2882036, 2827310, 2888041, 2892684, 2831841, ...          815       17
5   [2624021, 2753896, 2881080, 2899362, 2869986, ...          811       20
6   [1720784, 2886467, 2895717, 2835598, 2896045, ...          806       20
7   [2891500, 2898379, 2911000, 2898476, 2031170, ...          800       20
8   [2891500, 2898379, 2911000, 2898476, 2031170, ...          800       24
9   [2882472, 2873541, 2246591, 2880088, 2895915, ...          888       24
10  [2882036, 2827310, 2888041, 2892684, 2831841, ...          815       28
11  [2871638, 2893130, 1998679, 2874121, 2535492, ...          853       28
12  [1720784, 2886467, 2895717, 2835598, 2896045, ...          806       35
13  [2882472, 2873541, 2246591, 2880088, 2895915, ...          888       35
14  [2882472, 2873541, 2246591, 2880088, 2895915, ...          888       48
15  [2658874, 2519991, 2880278, 2648807, 2662331, ...          881       48
16  [2871638, 2893130, 1998679, 2874121, 2535492, ...          853       48
17  [2882036, 2827310, 2888041, 2892684, 2831841, ...          815       48
18  [2891500, 2898379, 2911000, 2898476, 2031170, ...          800       48
19  [2870873, 2677927, 2906282, 2851216, 2512096, ...          887       49
20  [2624021, 2753896, 2881080, 2899362, 2869986, ...          811       49
21  [2891500, 2898379, 2911000, 2898476, 2031170, ...          800       49
22  [2882036, 2827310, 2888041, 2892684, 2831841, ...          815       51
23  [1720784, 2886467, 2895717, 2835598, 2896045, ...          806       61
24  [2891500, 2898379, 2911000, 2898476, 2031170, ...          800       67
25  [2882472, 2873541, 2246591, 2880088, 2895915, ...          888       67
26  [2882472, 2873541, 2246591, 2880088, 2895915, ...          888       72
27  [1720784, 2886467, 2895717, 2835598, 2896045, ...          806       72
28  [2882036, 2827310, 2888041, 2892684, 2831841, ...          815       76
29  [2871638, 2893130, 1998679, 2874121, 2535492, ...          853       76
30  [2882036, 2827310, 2888041, 2892684, 2831841, ...          815       79
31  [2882472, 2873541, 2246591, 2880088, 2895915, ...          888       81
32  [2891500, 2898379, 2911000, 2898476, 2031170, ...          800       81
33  [2870873, 2677927, 2906282, 2851216, 2512096, ...          887       90
34  [2882036, 2827310, 2888041, 2892684, 2831841, ...          815       90
35  [2891500, 2898379, 2911000, 2898476, 2031170, ...          800       92
36  [2882472, 2873541, 2246591, 2880088, 2895915, ...          888       93
37  [2882036, 2827310, 2888041, 2892684, 2831841, ...          815       94
38  [2891500, 2898379, 2911000, 2898476, 2031170, ...          800      100
39  [2870873, 2677927, 2906282, 2851216, 2512096, ...          887      100
40  [2882036, 2827310, 2888041, 2892684, 2831841, ...          815      100
41  [2891500, 2898379, 2911000, 2898476, 2031170, ...          800      103
42  [2891500, 2898379, 2911000, 2898476, 2031170, ...          800      111
43  [2882036, 2827310, 2888041, 2892684, 2831841, ...          815      113
44  [2891500, 2898379, 2911000, 2898476, 2031170, ...          800      115
45  [2882036, 2827310, 2888041, 2892684, 2831841, ...          815      115
46  [2871638, 2893130, 1998679, 2874121, 2535492, ...          853      115
47  [2882472, 2873541, 2246591, 2880088, 2895915, ...          888      115
48  [1720784, 2886467, 2895717, 2835598, 2896045, ...          806      118
49  [2882036, 2827310, 2888041, 2892684, 2831841, ...          815      121

In [154]:
cols = sol.columns.tolist()
cols = cols[2:3]+cols[1:2]+cols[0:1] 
sol = sol[cols]

In [155]:
sol.head(5)

    user_id  category_id                                                ads
0         2          800  [2891500, 2898379, 2911000, 2898476, 2031170, ...
1         6          815  [2882036, 2827310, 2888041, 2892684, 2831841, ...
2        14          811  [2624021, 2753896, 2881080, 2899362, 2869986, ...
3        14          800  [2891500, 2898379, 2911000, 2898476, 2031170, ...
4        17          815  [2882036, 2827310, 2888041, 2892684, 2831841, ...
5        20          811  [2624021, 2753896, 2881080, 2899362, 2869986, ...
6        20          806  [1720784, 2886467, 2895717, 2835598, 2896045, ...
7        20          800  [2891500, 2898379, 2911000, 2898476, 2031170, ...
8        24          800  [2891500, 2898379, 2911000, 2898476, 2031170, ...
9        24          888  [2882472, 2873541, 2246591, 2880088, 2895915, ...
10       28          815  [2882036, 2827310, 2888041, 2892684, 2831841, ...
11       28          853  [2871638, 2893130, 1998679, 2874121, 2535492, ...
12       35          806  [1720784, 2886467, 2895717, 2835598, 2896045, ...
13       35          888  [2882472, 2873541, 2246591, 2880088, 2895915, ...
14       48          888  [2882472, 2873541, 2246591, 2880088, 2895915, ...
15       48          881  [2658874, 2519991, 2880278, 2648807, 2662331, ...
16       48          853  [2871638, 2893130, 1998679, 2874121, 2535492, ...
17       48          815  [2882036, 2827310, 2888041, 2892684, 2831841, ...
18       48          800  [2891500, 2898379, 2911000, 2898476, 2031170, ...
19       49          887  [2870873, 2677927, 2906282, 2851216, 2512096, ...
20       49          811  [2624021, 2753896, 2881080, 2899362, 2869986, ...
21       49          800  [2891500, 2898379, 2911000, 2898476, 2031170, ...
22       51          815  [2882036, 2827310, 2888041, 2892684, 2831841, ...
23       61          806  [1720784, 2886467, 2895717, 2835598, 2896045, ...
24       67          800  [2891500, 2898379, 2911000, 2898476, 2031170, ...
25       67          888  [2882472, 2873541, 2246591, 2880088, 2895915, ...
26       72          888  [2882472, 2873541, 2246591, 2880088, 2895915, ...
27       72          806  [1720784, 2886467, 2895717, 2835598, 2896045, ...
28       76          815  [2882036, 2827310, 2888041, 2892684, 2831841, ...
29       76          853  [2871638, 2893130, 1998679, 2874121, 2535492, ...
30       79          815  [2882036, 2827310, 2888041, 2892684, 2831841, ...
31       81          888  [2882472, 2873541, 2246591, 2880088, 2895915, ...
32       81          800  [2891500, 2898379, 2911000, 2898476, 2031170, ...
33       90          887  [2870873, 2677927, 2906282, 2851216, 2512096, ...
34       90          815  [2882036, 2827310, 2888041, 2892684, 2831841, ...
35       92          800  [2891500, 2898379, 2911000, 2898476, 2031170, ...
36       93          888  [2882472, 2873541, 2246591, 2880088, 2895915, ...
37       94          815  [2882036, 2827310, 2888041, 2892684, 2831841, ...
38      100          800  [2891500, 2898379, 2911000, 2898476, 2031170, ...
39      100          887  [2870873, 2677927, 2906282, 2851216, 2512096, ...
40      100          815  [2882036, 2827310, 2888041, 2892684, 2831841, ...
41      103          800  [2891500, 2898379, 2911000, 2898476, 2031170, ...
42      111          800  [2891500, 2898379, 2911000, 2898476, 2031170, ...
43      113          815  [2882036, 2827310, 2888041, 2892684, 2831841, ...
44      115          800  [2891500, 2898379, 2911000, 2898476, 2031170, ...
45      115          815  [2882036, 2827310, 2888041, 2892684, 2831841, ...
46      115          853  [2871638, 2893130, 1998679, 2874121, 2535492, ...
47      115          888  [2882472, 2873541, 2246591, 2880088, 2895915, ...
48      118          806  [1720784, 2886467, 2895717, 2835598, 2896045, ...
49      121          815  [2882036, 2827310, 2888041, 2892684, 2831841, ...

In [156]:
sol.to_csv("01-Naive-Category_ID-.csv")

In [157]:
sol.columns

Index([u'user_id', u'category_id', u'ads'], dtype='object')