In [4]:
import numpy as np
import pandas as pd
from pandas import DataFrame as df

In [5]:
user_messages = pd.read_csv("./Dataset/user_messages[OLD].csv")

In [6]:
user_messages.head()

   user_id  category_id                                   ads
0        1          859                             [1806476]
1        3          800  [2131700, 2734107, 2877209, 2877209]
2        4          815                             [2883211]
3        7          815           [2429412, 2886810, 2886804]
4        7          362                             [2909301]

---------------------------------------

In [7]:
for i in range(len(user_messages['ads'])):
    user_messages['ads'][i] = list(map(int, user_messages['ads'][i][1:-1].strip().split(',')))

/Users/akhilpunia/anaconda/envs/gl-env/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [8]:
user_messages_new = pd.DataFrame([[i,x]
                                 for i, y in user_messages['ads'].apply(list).iteritems()
                                     for x in y], columns = list('IB'))

In [9]:
user_messages_new = user_messages_new.set_index('I')

In [10]:
user_messages_new.reset_index(drop=False, inplace=True)

In [11]:
user_messages_new

           I        B
0          0  1806476
1          1  2131700
2          1  2734107
3          1  2877209
4          1  2877209
5          2  2883211
6          3  2429412
7          3  2886810
8          3  2886804
9          4  2909301
10         5    89573
11         6  2182646
12         7  2910937
13         7  2836340
14         7  2884417
15         8  2679430
16         8  1664304
17         9  1864397
18         9  2913442
19         9  1801396
20        10  2691952
21        11  2726576
22        12  2070408
23        12  2866207
24        12  2841786
25        13  1954725
26        13  2368264
27        13  2819220
28        13  2039982
29        14  2882642
...      ...      ...
21123  10320  2896689
21124  10321  1899773
21125  10322  2726965
21126  10323  1564594
21127  10324  2067207
21128  10325  1762434
21129  10325  1953526
21130  10326  2916794
21131  10327  2912445
21132  10328  2891500
21133  10329  2893934
21134  10330  2344725
21135  10330  2819411
21136  10331  2499308
21137  10332  1242489
21138  10333  2666112
21139  10334  2844142
21140  10335  2805867
21141  10336  2910683
21142  10337  2894100
21143  10338  2897961
21144  10339  1773828
21145  10340  2137101
21146  10341  2866738
21147  10342  2906636
21148  10343  1933378
21149  10344  2730268
21150  10345  2667422
21151  10346  2246912
21152  10347  2350213

[21153 rows x 2 columns]

In [37]:
nuid = list()
ncid = list()
#for i in xrange(len(user_messages_new)):
for x in xrange(len(user_messages_new)):
    i = user_messages_new['I'][x]
    #print i
    uid = user_messages['user_id'][i]
    cid = user_messages['category_id'][i]
    #print uid
    #print cid
    #print "###"
    nuid.append(uid)
    ncid.append(cid)

In [39]:
user_messages_new['user_id']= nuid
user_messages_new['category_id'] = ncid

In [44]:
user_messages_new.head(5)

   I        B  user_id  category_id
0  0  1806476        1          859
1  1  2131700        3          800
2  1  2734107        3          800
3  1  2877209        3          800
4  1  2877209        3          800

In [46]:
user_messages_new.columns

Index([u'I', u'B', u'user_id', u'category_id'], dtype='object')

In [47]:
del user_messages_new['I']

In [48]:
user_messages_new.head(5)

         B  user_id  category_id
0  1806476        1          859
1  2131700        3          800
2  2734107        3          800
3  2877209        3          800
4  2877209        3          800

In [51]:
user_messages_new.columns = ['ads','user_id','category_id']

In [52]:
user_messages_new.head(5)

       ads  user_id  category_id
0  1806476        1          859
1  2131700        3          800
2  2734107        3          800
3  2877209        3          800
4  2877209        3          800

In [53]:
cols = user_messages_new.columns.tolist()
cols = cols[1:2]+cols[2:3]+cols[0:1] 
user_messages_new = user_messages_new[cols]

In [54]:
user_messages_new.head(5)

   user_id  category_id      ads
0        1          859  1806476
1        3          800  2131700
2        3          800  2734107
3        3          800  2877209
4        3          800  2877209

In [55]:
user_messages_new.to_csv("user_messages.csv")